body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 72px 88px 88px 88px;
    background: #E5E5E5;
}

input {
    outline: none;
    border: none
}

input::-webkit-input-placeholder {
    color: #999999;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #222222;
    margin: 0px;
    margin-bottom: 48px;
}

.delivery {
    display: flex;

    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 48px;
        background: #EDEEEF;
        border-radius: 5px 5px 0px 0px;
        margin-right: 8px;

        & a {
            color: #999999;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }



    &__pickup__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 48px;
        background: #EDEEEF;
        border-radius: 5px 5px 0px 0px;

        & a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #999999;
        }
    }

    & .active {
        background-color: #fff;

        & a {
            color: #215BF0;
        }
    }
}

.form {
    position: relative;
    display: block;
    width: 1032px;
    height: 452px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    padding: 44px 40px 48px 40px;

    &__name {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #222222;
    }

    & #username {
        padding: 0px;
        width: 391px;
        height: 35px;

    }

    & .username {
        position: absolute;
        top: 72px;
        width: 464px;
        height: 48px;
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 17px;
    }

    &__phone {
        position: absolute;
        top: 44px;
        right: 112px;
        width: 392px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #222222;
    }

    & #userphone {
        padding: 0px;
        width: 391px;
        height: 35px;
    }

    & .userphone {
        position: absolute;
        top: 72px;
        right: 40px;
        width: 464px;
        height: 48px;
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 17px;
    }

    &__address {
        position: absolute;
        top: 156px;
        left: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }

    & .useraddress {
        display: flex;
        padding-left: 17px;
        align-items: center;
        position: absolute;
        top: 184px;
        left: 40px;
        width: calc(100% - 80px);
        height: 48px;
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 4px;
    }

    & #useraddress {

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    &__comments {
        position: absolute;
        top: 268px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }

    & .comments {
        position: absolute;
        bottom: 136px;
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 4px;
        width: calc(100% - 80px);
        height: 112px;
    }

    &__button {
        border: none;
        position: absolute;
        bottom: 48px;
        right: 40px;
        display: inline-block;
        background: #215BF0;
        border-radius: 80px;
        width: 200px;
        height: 48px;
        color: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:visited {
            background: #EDEEEF;
            border-radius: 80px;
            color: #999999;
        }

        &:hover {
            background: #0F41C4;
            border-radius: 80px;
        }

        
    }

}

.map {
    display: none;
    position: relative;
    width: 1032px;
    height: 792px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;

    &__first__address {
        position: absolute;
        top: 44px;
        left: 40px;
    }

    &__second__address {
        position: absolute;
        top: 44px;
        right: 40px;
    }

    & #map {
        position: absolute;
        top: 96px;
        left: 40px;
        width: 952px;
        height: 560px;
    }


}

.hide {
    display: none;
}

;

.show {
    display: block;
}