@import 'vars.scss';

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 72px 88px 88px 88px;
    background: #E5E5E5;
}

input {
    outline: none;
    border: none
}

input::-webkit-input-placeholder {
    color: $grey;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

}

a {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: $black;
    margin: 0px;
    margin-bottom: 48px;
}

.delivery {
    display: flex;

    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 152px;
        height: 48px;
        background: $grey-light;
        border-radius: 5px 5px 0px 0px;
        margin-right: 8px;

        & a {
            color: $grey;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }



    &__pickup__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 140px;
        height: 48px;
        background: $grey-light;
        border-radius: 5px 5px 0px 0px;

        & a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $grey;
        }
    }

    & .active {
        background-color: $white;

        & a {
            color: $blue;
        }
    }
}

.form {
    display: grid;
    height: auto;
    background: $white;
    border-radius: 0px 0px 5px 5px;
    padding: 44px 40px 48px 40px;

    &__info {
        display: flex;
    }

    &__name {
        position: relative;
        width: 100%;
        height: 75px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $black;
    }

    & .username {
        margin-top: 12px;
        width: 100%;
        height: 48px;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 17px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        &:focus {
            border: 1px solid $black;
        }

    }

    &__phone {
        position: relative;
        height: 75px;
        margin-left: 24px;
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $black;
    }

    & .userphone {
        margin-top: 12px;
        width: 100%;
        height: 48px;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 17px;

        &:focus {
            border: 1px solid $black;
        }
    }

    &__address {
        position: relative;
        margin-top: 37px;
        height: 75px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }

    & .useraddress {
        position: relative;
        margin-top: 12px;
        display: flex;
        padding-left: 17px;
        align-items: center;
        width: 100%;
        height: 48px;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;

        &:focus {
            border: 1px solid $black;
        }
    }

    &__comments {
        margin-bottom: 44px;
        height: 140px;
        position: relative;
        margin-top: 37px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        width: 100%;
    }

    & .usercomments {
        margin-top: 12px;
        width: 100%;
        height: 112px;
        display: flex;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;

        &:focus {
            border: 1px solid $black;

        }
    }

    &__button {
        border: none;
        margin-left: auto;
        background: $blue;
        border-radius: 80px;
        width: 200px;
        height: 48px;
        color: $white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:visited {
            background: $grey-light;
            border-radius: 80px;
            color: $grey;
        }

        &:hover {
            background: $dark-blue;
            border-radius: 80px;
        }
    }
}

.map {
    display: none;
    height: auto;
    background: $white;
    border-radius: 0px 0px 5px 5px;
    padding: 44px 40px 48px 40px;

    &__addresses {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    &__second__address {
        width: 440px;
    }

    &__google {
        margin-bottom: 40px;
        width: 100%;
        height: 560px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invalid {
    border: 3px solid red;
}

.alert__text {
    margin-top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #F12828;
    display: none;
}

.comment__text {
    margin-top: -35px;
}

.alert {
    position: absolute;
    right: 13px;
    bottom: 12px;
    display: none;
}

.valid {
    .number__alert img {
        display: block;
    }
}

@media (max-width: 1050px) {
    .container {
        padding: 0;
    }

    .map__addresses {
        display: flex;
        flex-direction: column;
        height: 70px;
    }
    
    .map__second__address {
        width: auto;
    }
}

@media (max-width: 1199.98px) {
    .form__info {
        display: block;
    }

    .form__phone {
        margin: 37px 0 0 0;
        width: 100%;
    }
}